<div class="div_filters">
    <header class="header">
        <h2>Product search</h2>
    </header>
    <form class="form_filters">
        <label for="name">Name</label>
        <input class="input" type="text" id="name" placeholder="Inform the price" [(ngModel)]="filters.name"
            name="name" />
        <label for="type">Type</label>
        <div class="container-radio">
            <div class="radio-model">
                <label for="model1">
                    <input type="radio" id="model1" value="eyeshadow" name="model-card" [(ngModel)]="filters.type"
                        name="model1" />
                    <div class="custom-radio">
                        <span></span>
                    </div>
                    <span>Eyeshadow</span>
                </label>
                <div class="model model1 ff-roboto-mono">
                    <img style="height: 4em; width: 5em; margin-left: 1em" src="../../../../assets/Images/eyeshadow.png"
                        alt="person using blush" />
                </div>
            </div>
            <div class="radio-model">
                <label for="model2">
                    <input type="radio" id="model2" value="blush" name="model-card" [(ngModel)]="filters.type"
                        name="model2" />
                    <div class="custom-radio">
                        <span></span>
                    </div>
                    <span>Blush</span>
                </label>
                <div class="model model2 ff-roboto-mono">
                    <img style="height: 4em; width: 5em" src="../../../../assets/Images/blush.png"
                        alt="person using blush" />
                </div>
            </div>
            <div class="radio-model">
                <label for="model3">
                    <input type="radio" id="model3" value="lipstick" name="model-card" [(ngModel)]="filters.type"
                        name="model3" />
                    <div class="custom-radio">
                        <span></span>
                    </div>
                    <span>Lipstick</span>
                </label>
                <div class="model model3 ff-roboto-mono">
                    <img style="height: 4em; width: 5em" src="../../../../assets/Images/lipstick.png"
                        alt="person using lipstick" />
                </div>
            </div>
            <div>
                <div class="radio-model">
                    <label for="model4">
                        <input type="radio" id="model4" value="skincare" name="model-card" [(ngModel)]="filters.type"
                            name="model4" />
                        <div class="custom-radio">
                            <span></span>
                        </div>
                        <span>Skincare</span>
                    </label>
                    <div class="model model4 ff-roboto-mono">
                        <img style="height: 4em; width: 5em" src="../../../../assets/Images/skincare.png"
                            alt="person doing skincare" />
                    </div>
                </div>
            </div>
        </div>
        <label for="BodyPart">Body part</label>
        <select class="input" name="select_bodyPart" [(ngModel)]="filters.bodyPart">
            <option value="">Select a body part</option>
            <option value="eyes">Eyes</option>
            <option value="face">Face</option>
            <option value="Lips">Lips</option>
            <option value="Hands">Hands</option>
            <option value="Feet">Feet</option>
        </select>
        <label for="brand">Select a brand</label>
        <select class="input" name="select_brand" [(ngModel)]="filters.brand">
            <option value="0">Select a brand</option>
            <option *ngFor="let brand of listBrands" [ngValue]="brand.id">
                <p>{{ brand.name }}</p>
            </option>
        </select>
        <label for="price">Minimum price</label>
        <input class="input" type="number" id="quantity" placeholder="Inform the price" [(ngModel)]="filters.minPrice"
            name="quantity" />
        <label for="price">Maximum price</label>
        <input class="input" type="number" id="quantity" placeholder="Inform the price" [(ngModel)]="filters.maxPrice"
            name="quantity" />
        <div class="actions">
            <button (click)="searchProduct()" class="button">Search</button>
            <button (click)="cancel()" class="button">Cancel</button>
        </div>
    </form>
    <div class="mural" *ngIf="listProducts.length > 0, else noProductsFound">
        <div *ngFor="let product of listProducts">
            <app-product [product]="product"></app-product>
        </div>
    </div>
</div>
<ng-template #noProductsFound>
    <div class="ff-inter no_product">
        <p>No products found</p>
    </div>
</ng-template>