.action {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .button {
    margin: 5px;
    width: 200px;
    background-color: #154580;
    border: none;
    border-radius: 1em;
    color: #f8f9fe;
    height: 3em;
    cursor: pointer;
  }
  
  .button:hover{
    background-color: #3d7cc9;
  }
  
  .create-product {
    padding: 1rem 0;
  }
  
  .create-product form {
    background: #c4edff;
  
    border: none;
    border-radius: 20px;
  
    display: flex;
    flex-direction: column;
  
    padding: 2rem;
  }

  .input{
    padding: 1rem 2rem;
    border-radius: 20px;
    margin: 0.5rem 0 1rem;
}
  
  .create-product form label {
    color: #154580;
    font-weight: bold;
    margin: 0 0 1rem;
  }
  
  .create-product form .input {
    border: none;
    padding: 1rem 2rem;
    border-radius: 20px;
    margin: 0.5rem 0 1rem;
  }
  
  .create-product form .textarea {
    border: none;
    padding: 1rem 1rem;
    border-radius: 20px;
    margin: 0.5rem 0 1rem;
  }
  
  .container-radio {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
  }

  .div_filters{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .div-select {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
  }

  .form_filters{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .models {
    display: flex;
    gap: 2.5rem;
    border: 1px solid red;
  }
  
  .model {
    background-color: #f8f9fe;
    padding: 1rem;
    max-width: 250px;
    margin: 1rem 0 2rem;
  }
  
  .model .content {
    margin: 1rem auto;
    word-wrap: break-word;
  }
  
  .model .author {
    word-wrap: break-word;
  }
  
  .radio {
    margin: 0;
  }
  
  .model1 {
    box-shadow: 8px 8px 0px #154580;
  }
  
  .model2 {
    box-shadow: 8px 8px 0px #6bd1ff;
  }
  
  .model3 {
    box-shadow: 8px 8px 0px #0d95e4;
  }
  .model4 {
    box-shadow: 8px 8px 0px #03f2fa;
  }
  .mural {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin: 1rem 0 2rem;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .radio-model label {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  
  .custom-radio {
    border: 1px solid #154580;
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    border-radius: 50%;
  }
  
  .custom-radio,
  span {
    transition: 0.5s ease;
    color: #154580;
  }
  
  .custom-radio span {
    content: "";
    width: 18px;
    height: 18px;
    background: transparent;
    border-radius: 50%;
  }
  
  input[type="radio"]:checked + .custom-radio {
    border-color: #154580;
  }
  
  input[type="radio"]:checked + .custom-radio span {
    background: #154580;
  }
  