<section class="container create-product ff-inter">
  <header class="header">
    <h2>
      Register a <br />
      new Brand:
    </h2>
  </header>
  <form>
    <label for="name">Name</label>
    <input
      type="textarea"
      class="input"
      id="name"
      name="name"
      placeholder="Enter the name"
      [(ngModel)]="brand.name" 
    />
      <label for="bodyPart">Select the country</label>
      <select class="input" placeholder="Select the country" [(ngModel)]="brand.country" name="country" >
        <option value="">Select the country</option>
        <option *ngFor="let country of listCountry" [ngValue]="country">{{country}}</option>
      </select>
    <div class="action">
      <button (click)="createBrand()"  class="button">Save</button>
      <button routerLink="/listProduct" class="button">Cancel</button>
    </div>
  </form>
</section>

