.actions {
  display: flex;
  flex-direction: column;
}

.button-delete {
  border: none;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 10px;
  background: transparent;
}

.button-delete:hover{
  color: aqua;
}



.button-edit {
  border: none;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
  background: transparent;
}
.button-edit:hover{
  color: aqua;
}

.product {
  border: solid 1px #34b3fa;
  padding: 2em;
  border-radius: 40px;
  background-color: #F8F9FE;
  padding: 1rem;
  box-sizing: border-box;
  width: 280px;
}

.product .conteudo {
  margin: 1rem auto;
  word-wrap: break-word;
}

.product .info {
  word-wrap: break-word;
}

@media screen and (max-width: 768px) {
  .product-g {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .product-p {
    width: 100%;
  }
}
