<header class="headerpage ff-inter">
    <div class="logo">
        <img class="img-logo" src="../../../assets/Images/logo.png" alt="MakeUpStore's logo" />
        <ul class="menu-header">
            <li (click)="test()" class="li-menu-header"><img class="icon-header" src="../../../assets/Images/iconProduct.png" />Products</li>
            <li (click)="test()" class="li-menu-header"><img class="icon-header" src="../../../assets/Images/iconRegistration.png" />Registration</li>
            <li (click)="test()" class="li-menu-header"><img class="icon-header" src="../../../assets/Images/iconFilters.png" />Search filters</li>
        </ul>
    </div>
    <img class="image" src="../../../assets/Images/makeUpImg.png" alt="make up image" />
</header>
