<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">List of Store's products</h2>
    <button routerLink="/createProduct" class="botao">Register new product</button>
  </header>
  <div class="mural" *ngIf="listProducts.length > 0, else noProducts">
    <div *ngFor="let product of listProducts">
      <app-product [product]="product"></app-product>
    </div>
  </div>
</section>
<ng-template #noProducts>
  <div class="ff-inter sem-pensamentos">
    <p>No products registrer</p>
  </div>
</ng-template>
